<!--=========================================================================================
CHANGING THE UI OF DEFAULT JHIPSTER
==============================================================================================-->
<div class= "card jh-card">
<div class="row">
<div class="ct" id="t1">
        <div class="ct" id="t2">
          <div class="ct" id="t3">
            <div class="ct" id="t4">
                <div class="ct" id="t5">
                <section>  
                        <ul>
                            <a href="#t1"><li class="icon fa fa-home" id="uno"></li></a>
                            <a href="#t2"><li class="icon fa fa-keyboard-o" id="dos"></li></a>
                            <a href="#t3"><li class="icon fa fa-coffee" id="tres"></li></a>
                            <a href="#t4"><li class="icon fa fa-dribbble" id="cuatro"></li></a>
                            <a [routerLink]="[{outlets: { import : ['import-excel']}}]"><li class="icon fa fa-file-excel-o" id="fa-file-excel-o"></li></a>
                         </ul>
                <div class="page" id="p1">
                    <li class="icon fa fa-home"><span class="title">Home</span><span class="hint">Like this pen to see the magic!...<br/> Just kidding, it won't happen anything but I'll be really happy If you do so.</span></li>   
                </div>
                <div class="page" id="p2">
                    <li class="icon fa fa-keyboard-o"><span class="title">Type</span></li>
                </div>  
                <div class="page" id="p3">
                    <li class="icon fa fa-coffee"><span class="title">Coffee</span></li>
                </div>
                <div class="page" id="p4">
                    <li class="icon fa fa-dribbble"><span class="title">Dribbble</span><span class="hint"><a href="https://dribbble.com/rupok" target="_blank">Follow me on Dribbble</span></li>
                </div>  
                <div class="page" id="p5">
                    <li class="icon fa fa-file-excel-o"><span class="title">Upload Excel</span>
                        <span class="hint">
                    <a [routerLink]="[{outlets: { import : ['import-excel']}}]">Upload Excel</a>
                            </span>
                        </li>
                </div>
                </section>              
            </div>
        </div>
          </div>
         </div>
</div>
<!--================================DEFAULT JHIPSTER HOME PAGE========================================-->
<!--<div class="row">
    <div class="col-md-1">
    <div class="col-md-4"
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">{{pageTitle}}</h1>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
        
       <p>
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
        </ul>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
        </p>
    -->
    </div>
    </div>

